body {
    margin: 0;
    padding: 0;
    background-image: url('../img/aura/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

.nav a{
    transition: 0.5s;
    text-decoration: none;
    width: 150px;
    height: 100px;
    align-items: center;
    justify-content: center;
    color: white;
}
.nav a:hover{
    transition: 0.5s;
    text-decoration: none;
    width: 150px;
    height: 100px;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
}
.nav {
    text-decoration: none;
    width: 150px;
    height: 100px;
    background-color: transparent;
}
.nav li{
    padding-top: 0.5cm;
    text-decoration: none;
    width: 150px;
    height: 40px;
    background-color: transparent;
}

.alert-noscript{
    background-color: darkred;
}

#alert{
    background-color: #ff0000; 
    height: 8vh;
    width: 100%;
    display: flex;
    padding: 20 20px;
}
@media only screen and (max-width: 767px) {
    body {
        font-size: 14px;
        padding: 10px;
    }

    #content {
    }
}

@media only screen and (min-width: 768px) {
    body {
        font-size: 16px;
        padding: 20px;
    }

    #content {
    }
}