html{
   cursor: url(./cursors/cur-pointer.png), pointer; 
}

body{
    background-color: #282b30;
    font-family: OCR A Std, monospace;
    color: white;
}

ul{
    transition: 0.4s;
    text-decoration: underline;
    float: right;
    margin-left: 1%;
    margin-top: 2%;
    margin-right: 3%;
}

ul:hover{
    cursor: url(./cursors/cur-link.png), pointer; 
    transition: 0.4s;
    transform: scale(105%);
    text-decoration: underline;
    float: right;
    margin-left: 1%;
    margin-top: 2%;
    margin-right: 3%;
}

#ul-link{
    transition: 0.2s;
    color: white;
    text-decoration: none;
}

#ul-link:hover{
    transition: 0.2s;
    color: lightgrey;
}

#Category1-drawing{
    transition: 0.2s;
    float: left;
    margin-top: 1%;
    margin-right: 2%;
    margin-left: 2%;
    border-radius: 25%;
    width: 120;
    height: 120;
}

#Category1-drawing:hover{ 
    transform: scale(120%);
    transition: 0.2s;
    float: left;
    margin-top: 1%;
    margin-right: 2%;
    margin-left: 2%;
    border-radius: 40%;
    width: 120;
    height: 120;
}

#Category1-title{
    cursor: url(./cursors/hack.png), pointer; 
    float: left;
    margin-left: 3%;
    margin-top: 3%;
}

#Category1-title-child{
    margin-left: 3%;
    margin-top: 3%;
}


